.App {
  text-align: center;
  
}
.list{
  background-color: rgb(248, 107, 12);
  padding-bottom: 20px;
  margin: 50px;
}
h1{
  margin-bottom: 0px;
}
p {
  color: rgb(98, 5, 5);
  margin:0px;
}
.main-Header{
  background-image: url('https://www.miamiandbeaches.com/getmedia/22609c3e-faab-4508-831e-5b3b1e4e0594/Hidden-Gem-Breweries-1440x900.aspx?width=480&height=300&ext=.jpg');
  background-size: cover;
  height:500px;
  background-position: center;
  color: rgb(255, 232, 217);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
