.App {
  text-align: left;
 
  
  
}
.list{
  
  padding-bottom: 20px;
  margin-left: 20px;
  overflow: auto;
  
}
.Link{
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 15vw;
  
}
.footer>img{
  position: fixed;
  margin-left: 15vw;
  width:15vw;
  height: 100vh;
  opacity: 0.3;
  left:-15vw;
  top:0;
}
.search-Bar{
  margin-left: 15vw;

  
}
span{
  font-size: x-large;
  margin-left: 3vw;
}
h1{
  margin-bottom: 0px;
}
p {
  color: rgb(0, 0, 0);
  margin:0px;
  font-weight: bolder;
}
.main-Header{
  position: relative;
  background-image: url('https://cdn-a.william-reed.com/var/wrbm_gb_food_pharma/storage/images/publications/food-beverage-nutrition/beveragedaily.com/article/2019/04/30/uk-craft-beer-2019-is-likely-to-be-pivotal-in-setting-our-future-direction/9335762-8-eng-GB/UK-craft-beer-2019-is-likely-to-be-pivotal-in-setting-our-future-direction.jpg');
  background-size: 100% 100%;
  height:100vh;
  background-position: center;
  color: rgb(0, 0, 0);
  background-attachment: fixed;
  overflow: auto;
  font-weight: bolder;
  
  font-family: cursive;
  
  
  
}
.main-Title {
  letter-spacing: 3vw;
  font-weight: 5000;
  font-size:5vw;
  margin-left: 15vw;
  color: rgb(48, 0, 94);
 
}

